<div>
    <h1>LOGIN</h1>
    <h2>Rellena los campos para iniciar sesión</h2>
    <form #loginForm="ngForm">
        <label>Email</label>
        <br/>
        <input type="text" name="cajaEmail" #cajaEmail/>
        <br/><br/>
        <label>Contraseña</label>
        <br/>
        <input type="text" name="cajaPasswd" #cajaPasswd/>
        <br/><br/>
        <button class="btn btn-info" (click)="iniciarSesion()">Iniciar sesión</button>
    </form>
    <br/><br/><br/>
    <h2>Pulse el botón para cerrar sesión</h2>
    <form #logoutForm="ngForm">
        <button class="btn btn-danger" (click)="cerrarSesion()">Cerra sesión</button>
    </form>
    <br/><br/><br/>
    @if(mensaje)
    {
        <h3>{{mensaje}}</h3>
    }
</div>